<form action="<%= people_form_action(@person) %>" method="post" class="people_form_class(@person)" id="people_form_id(@person)/" >
	<input type="hidden" name="_method" value="<%= people_form_method(@person) %>" />

	<div class="new-person">
		<label for="first_name">First Name:</label>
		<input name="first_name" type="text" value="<%= @person.first_name %>" />	
	
		<label for="last_name">Last Name:</label>
		<input name="last_name" type="text" value="<%= @person.last_name %>" />	
	
		<label for="birthdate">Birthdate:</label>
		<input name="birthdate" type="date" value="<%= @person.birthdate %>" />	
	
		<input type="submit" />	
	</div>
	
</form>

<!-- error message for blank field on entry form using incorrect format -->
<% if !@error.blank? %>
	<p class="errors"><%= "#{@errors}"%></p>
<% end %>