<div class="people-main">
	<h1>People</h1>
</div>
<hr>
<table>
	<thead>
		<th>Name</th>
		<th>Birthdate</th>
		<th>Edit</th>
		<th>Delete</th>
	</thead>


	<tbody>
		<% @people.each do |person| %>
			<tr>
				<td>
					<a href="<%= "/people/#{person.id}" %>" >
						<%= "#{person.first_name} #{person.last_name}" %>
					</a>
				</td>

				<td class="bday-element">
					<%= "#{person.birthdate}" %>
				</td>

				<td class="edit-element">
					<a href="<%= "/people/#{person.id}/edit" %>" >Edit</a>
				</td>

				<td class="delete-element">
					<form action="<%= "/people/#{person.id}" %>" method="post">
						<input type="hidden" name="_method" value="delete" />
						<input type="submit" value="Delete" />
					</form>
				</td>

			</tr>
		<% end %>
	</tbody>

</table>
